@model ZJOASystem.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Encode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Encode)
        </dd>
        <dt>
            @ZJOASystem.Controllers.ResourceReader.GetString("PRODUCT_STATUS")
        </dt>

        <dd>
            @ZJOASystem.Controllers.HtmlHelperExtensions.GetStatusLabel(this.Url, this.Model.Status)
        </dd>
        <dt>
            @ZJOASystem.Controllers.ResourceReader.GetString("PRODUCT_ACTIONLIST")
        </dt>
        <dd>
            @ZJOASystem.Controllers.HtmlHelperExtensions.CreateActionGrid(this.Url, this.Model.Actions)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink(ZJOASystem.Controllers.ResourceReader.GetString("BACKTO_PRODUCTLIST"), "Index")
        </div>
    }
</div>
