@model ZJOASystem.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @ZJOASystem.Controllers.ResourceReader.GetString("PRODUCT_ENCODE")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Encode)
        </dd>

        <dt>
            @ZJOASystem.Controllers.ResourceReader.GetString("PRODUCT_NAME")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @ZJOASystem.Controllers.ResourceReader.GetString("PRODUCT_DESCRIPTION")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @ZJOASystem.Controllers.ResourceReader.GetString("PRODUCT_STATUS")
        </dt>

        <dd>
            @ZJOASystem.Controllers.HtmlHelperExtensions.GetStatusLabel(this.Url, this.Model.Status)
        </dd>
        <dt>
            @ZJOASystem.Controllers.ResourceReader.GetString("PRODUCT_ACTIONLIST")
        </dt>
        <dd>
            @ZJOASystem.Controllers.HtmlHelperExtensions.CreateActionGrid(this.Url, this.Model.Actions )
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink(ZJOASystem.Controllers.ResourceReader.GetString("BACKTO_PRODUCTLIST"), "Index")
</p>
