@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ZJOASystem.Controllers.ResourceReader.GetString("PRODUCT_TITLE")</h2>

<p>
    <div>
        <button id="createButton">@ZJOASystem.Controllers.ResourceReader.GetString("PRODUCT_CREATE")</button>
        <button id="setupButton">@ZJOASystem.Controllers.ResourceReader.GetString("PRODUCT_SETUP")</button>
        <button id="testButton">@Html.ActionLink(ZJOASystem.Controllers.ResourceReader.GetString("PRODUCT_TEST"), "Test")</button>
        <button id="fixButton">@Html.ActionLink(ZJOASystem.Controllers.ResourceReader.GetString("PRODUCT_FIX"), "Fix")</button>
        <button id="packageButton">@Html.ActionLink(ZJOASystem.Controllers.ResourceReader.GetString("PRODUCT_PACKAGE"), "Package")</button>
        <button id="delieverButton">@Html.ActionLink(ZJOASystem.Controllers.ResourceReader.GetString("PRODUCT_DELIEVER"), "Deliever")</button>
        <button id="printButton">@Html.ActionLink(ZJOASystem.Controllers.ResourceReader.GetString("PRODUCT_PRINT"), "Deliever")</button>

    </div>

</p>

<div id="customWindow_create">
    <div id="customWindowHeader">
        <span id="captureContainer" style="float: left">@ZJOASystem.Controllers.ResourceReader.GetString("PRODUCT_CREATE") </span>
    </div>
    <div id="customWindowContent" style="overflow: hidden">
        <table>
            <tr>
                <td>@ZJOASystem.Controllers.ResourceReader.GetString("CHOOSE_PRODUCTBASE_LIST")</td>
                <td><div id="jqxComboBox_productbase"></div></td>
            </tr>
            <tr>
                <td>@ZJOASystem.Controllers.ResourceReader.GetString("CHOOSE_PRODUCT_YEARNUMBER")</td>
                <td><div id='dateInput_year'></div></td>
            </tr>
            <tr>
                <td>@ZJOASystem.Controllers.ResourceReader.GetString("CHOOSE_PRODUCT_BATCH")</td>
                <td><div><input type="text" id="input_batch" style="width: 200px;"/></div></td>
            </tr>
            <tr>
                <td>@ZJOASystem.Controllers.ResourceReader.GetString("CHOOSE_PRODUCT_SERIAL")</td>
                <td><div><input type="text" id="input_serial" style="width: 200px;" /></div></td>
            </tr>
            <tr>
                <td>@ZJOASystem.Controllers.ResourceReader.GetString("CHOOSE_PRODUCT_NAME")</td>
                <td><div><input type="text" id="input_name" style="width: 200px;" /></div></td>
            </tr>

            <tr>
                <td>@ZJOASystem.Controllers.ResourceReader.GetString("CHOOSE_PRODUCT_DESCRIPTION")</td>
                <td><div><textarea id="input_description" style="width:200px;height:50px"></textarea></div></td>
            </tr>

            <tr>
                <td>@ZJOASystem.Controllers.ResourceReader.GetString("CHOOSE_PRODUCT_ACTIONERS")</td>
                <td><div id="listBoxA" style="float:left"></div></td>
            </tr>
        </table>
        <div style="float: right">
            <input type="button" value="@ZJOASystem.Controllers.ResourceReader.GetString("OK")" id="okButton" />
            <input type="button" value="@ZJOASystem.Controllers.ResourceReader.GetString("CLOSE")" id="closeButton" />
        </div>
    </div>
</div>

<div id="customWindow_setup">
    <div id="customWindowHeader_setup">
        <span id="captureContainer" style="float: left">@ZJOASystem.Controllers.ResourceReader.GetString("PRODUCT_SETUP") </span>
    </div>
    <div id="customWindowContent_setup" style="overflow: hidden">
        <div>
            @ZJOASystem.Controllers.ResourceReader.GetString("CHOOSE_PRODUCT_SETUP")
            <div id="jqxComboBox_products_setup"></div>
        </div>
        <br/>
        <table>
            <tr>
                <td>@ZJOASystem.Controllers.ResourceReader.GetString("CHOOSE_CHILD_PRODUCT_SETUP")</td>
                <td></td>
                <td>@ZJOASystem.Controllers.ResourceReader.GetString("PRODUCT_SETUP")</td>
            </tr>
            <tr>
                <td><div id="listBoxSetupLeft"></div></td>
                <td>
                    <div>
                        <br />
                        &nbsp;&nbsp;<button id="moveLeftButton">@ZJOASystem.Controllers.ResourceReader.GetString("BUTTON_MOVELEFT")</button>&nbsp;&nbsp;<br /><br />
                        &nbsp;&nbsp;<button id="moveRightButton">@ZJOASystem.Controllers.ResourceReader.GetString("BUTTON_MOVERIGHT")</button>&nbsp;&nbsp;
                    </div>
                </td>
                <td><div id="listBoxSetupRight"></div></td>

            </tr>

        </table>
        <br/>
        <div>@ZJOASystem.Controllers.ResourceReader.GetString("CHOOSE_PRODUCT_ACTIONERS")
            <div id="listBoxA_setup" ></div>
        </div>
        <br />
        <div style="float: right">
            <input type="button" value="@ZJOASystem.Controllers.ResourceReader.GetString("OK")" id="okButton_setup" />
            <input type="button" value="@ZJOASystem.Controllers.ResourceReader.GetString("CLOSE")" id="closeButton_setup" />&nbsp;&nbsp;
        </div>
    </div>
</div>


<div id="customWindow_test">
    <div id="customWindowHeader_test">
        <span id="captureContainer" style="float: left">@ZJOASystem.Controllers.ResourceReader.GetString("PRODUCT_TEST") </span>
    </div>
    <div id="customWindowContent_test" style="overflow: hidden">
        <table>
            <tr>
                <td>@ZJOASystem.Controllers.ResourceReader.GetString("CHOOSE_PRODUCT_TEST")</td>
                <td><div id="jqxComboBox_products_test"></div></td>
            </tr>
            <tr>
                <td>@ZJOASystem.Controllers.ResourceReader.GetString("CHOOSE_TEST_STATUS")</td>
                <td>
                    <div style='margin-top: 10px;' id='jqxRadioButton_qualified' style="float:left">
                        @ZJOASystem.Controllers.ResourceReader.GetString("STATUS_QUALIFIED")
                    </div>
                    <div style='margin-top: 10px;' id='jqxRadioButton_unqualified' style="float:left">
                        @ZJOASystem.Controllers.ResourceReader.GetString("STATUS_UNQUALIFIED")
                    </div>
                </td>
            </tr>
            <tr>
                <td>@ZJOASystem.Controllers.ResourceReader.GetString("CHOOSE_TEST_COMMENTS")</td>
                <td><div><textarea id="test_comments" style="width:200px;height:50px"></textarea></div></td>
            </tr>
            <tr>
                <td>@ZJOASystem.Controllers.ResourceReader.GetString("CHOOSE_PRODUCT_ACTIONERS")</td>
                <td><div id="listBoxA_test"></div></td>
            </tr>
        </table>
        <br/>
        <div style="float: right">
            <input type="button" value="@ZJOASystem.Controllers.ResourceReader.GetString("OK")" id="okButton_test" />
            <input type="button" value="@ZJOASystem.Controllers.ResourceReader.GetString("CLOSE")" id="closeButton_test" />&nbsp;&nbsp;
        </div>
    </div>
</div>

<div id="customWindow_fix">
    <div id="customWindowHeader_fix">
        <span id="captureContainer" style="float: left">@ZJOASystem.Controllers.ResourceReader.GetString("PRODUCT_FIX") </span>
    </div>
    <div id="customWindowContent_fix" style="overflow: hidden">
        <table>
            <tr>
                <td>@ZJOASystem.Controllers.ResourceReader.GetString("CHOOSE_PRODUCT_FIX")</td>
                <td><div id="jqxComboBox_products_fix"></div></td>
            </tr>
            <tr>
                <td>@ZJOASystem.Controllers.ResourceReader.GetString("CHOOSE_TEST_COMMENTS")</td>
                <td><div><textarea id="fix_comments" style="width:200px;height:50px"></textarea></div></td>
            </tr>
            <tr>
                <td>@ZJOASystem.Controllers.ResourceReader.GetString("CHOOSE_PRODUCT_ACTIONERS")</td>
                <td><div id="listBoxA_fix"></div></td>
            </tr>
        </table>
        <br />
        <div style="float: right">
            <input type="button" value="@ZJOASystem.Controllers.ResourceReader.GetString("OK")" id="okButton_fix" />
            <input type="button" value="@ZJOASystem.Controllers.ResourceReader.GetString("CLOSE")" id="closeButton_fix" />&nbsp;&nbsp;
        </div>
    </div>
</div>

<form class="navbar-form navbar-right" name="searchform" action="@Url.Action("Index", new {index="1" })" method="post">
    <div class="input-group">
        <input type="text" id="searchkey" name="searchkey" class="form-control" placeholder="Search..." />
        <span class="btn input-group-addon" onclick="document.searchform.submit();">
            <span class="glyphicon  glyphicon-search"></span>
        </span>
        @Html.Hidden("hiddensearchkey", ViewData["hiddensearchkey"])
        @Html.Hidden("product_create", ViewData["product_create"], new { id = "product_create" })
        @Html.Hidden("product_setup", ViewData["product_setup"], new { id = "product_setup" })
        @Html.Hidden("product_test", ViewData["product_test"], new { id = "product_test" })
        @Html.Hidden("product_fix", ViewData["product_fix"], new { id = "product_fix" })
    </div>
</form>
<div id="jqxgrid">
</div>

@Scripts.Render("~/bundles/jqwidgets/treegrid")
@Scripts.Render("~/bundles/jqwidgets/dialog")
@Scripts.Render("~/bundles/jqwidgets/editor")
@Scripts.Render("~/bundles/product/index")

