
@{
    ViewBag.Title = "Setup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ZJOASystem.Controllers.ResourceReader.GetString("PRODUCT_SETUP")</h2>


<!--Upload product list-->
<div id="customWindow">
    <div id="customWindowHeader">
        <span id="captureContainer" style="float: left">@ZJOASystem.Controllers.ResourceReader.GetString("PRODUCT_IMPORT") </span>
    </div>
    <div id="customWindowContent" style="overflow: hidden">
        <div style="margin: 10px">
            @ZJOASystem.Controllers.ResourceReader.GetString("PRODUCT_IMPORT_SETUPUPLOAD"):
            <div id="jqxFileUpload" style="float: left">
            </div>
            <div style="float: right">
                <input type="button" value="@ZJOASystem.Controllers.ResourceReader.GetString("CLOSE")" id="closeButton" />
            </div>
        </div>
    </div>
</div>

<p>
    <button id="importButton">@ZJOASystem.Controllers.ResourceReader.GetString("PRODUCT_IMPORT")</button>
    <a style='margin-left: 25px;' target="_blank" href="ExportProductAction?actiontype=2" id='exportButton'>@ZJOASystem.Controllers.ResourceReader.GetString("PRODUCT_EXPORT")</a>
    <div id="jqxcombobox" style="float: left;"></div>
    <button id="printButton" style="margin-left: 25px;">@ZJOASystem.Controllers.ResourceReader.GetString("PRINTBUTTON")</button>

    <br />
</p>
<form name="searchform" action="@Url.Action("Setup")" method="post">
    
     <div id="treeGrid">
    </div>
</form>
<script type="text/javascript">
    document.getElementById("menuProduct").click();
    document.getElementById("menuProduct").setAttribute("class", "active");
</script>
@Scripts.Render("~/bundles/jqwidgets/dialog")
@Scripts.Render("~/bundles/jqwidgets/editor")
@Scripts.Render("~/bundles/jqwidgets/treegrid")
@Scripts.Render("~/bundles/product/setup")

