@model ZJOASystem.Models.Department

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ZJOASystem.Controllers.ResourceReader.GetString("DETAIL")</h2>

<div>
    <h4>@ZJOASystem.Controllers.ResourceReader.GetString("DEPARTMENT")</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @ZJOASystem.Controllers.ResourceReader.GetString("DEPARTMENT_PARENT_NAME")
        </dt>

        <dd>
            @ZJOASystem.Controllers.EmployeeController.RenderDepartmentName(this.Model.ParentId)
        </dd>

        <dt>
            @ZJOASystem.Controllers.ResourceReader.GetString("DEPARTMENT_MANAGER")
        </dt>

        <dd>
            @ZJOASystem.Controllers.EmployeeController.RenderEmployeeName(this.Model.ManagerId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink(ZJOASystem.Controllers.ResourceReader.GetString("DEPARTMENT_RETURNLIST"), "DepartmentIndex") |
            @Html.ActionLink(ZJOASystem.Controllers.ResourceReader.GetString("EDIT"), string.Format("EditDepartment/{0}", this.Model.Id)) |
            @Html.ActionLink(ZJOASystem.Controllers.ResourceReader.GetString("DELETE"), string.Format("DeleteDepartment/{0}", this.Model.Id))
        </div>
        
    }
</div>
