@model ZJOASystem.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}

<h2>@ZJOASystem.Controllers.ResourceReader.GetString("LOGIN")</h2>
<div class="row">
    <div class="col-md-10">
        <section id="loginForm" class="content">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>@ZJOASystem.Controllers.ResourceReader.GetString("LOGIN_LABEL")</h4>
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        @ZJOASystem.Controllers.ResourceReader.GetString("LOGIN_USER")
                    </label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        @ZJOASystem.Controllers.ResourceReader.GetString("LOGIN_PASSWORD")
                    </label>
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            <label>@ZJOASystem.Controllers.ResourceReader.GetString("LOGIN_REMEMBER")</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="@ZJOASystem.Controllers.ResourceReader.GetString("LOGIN")" class="btn btn-default" />
                    </div>
                </div>

            }
        </section>
    </div>
</div>
