<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/zjoa")
    <script type="text/javascript">
        function clickMenu(menuName) {
            var menuItem = document.getElementById(menuName);

            if (menuItem) {
                menuItem.setAttribute("class", "active");
            }
        }
    </script>
</head>
<body>
    <!-- WRAPPER -->
    <div id="wrapper">

        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand">
                <h1>@Html.ActionLink(ZJOASystem.Controllers.ResourceReader.GetString("ApplicationName"), "Index", "Home", null, new { @class = "logo" })</h1>
            </div>
            <div class="container-fluid">
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
                </div>
               
                <div>
                     @Html.Partial("_LoginPartial")
                </div>
               
            </div>
        </nav>
        <!-- END NAVBAR -->
        <div class="header">
            <div class="container" style="margin-left:25px;">

                <div class="row">
                    <div class="col-md-5">
                        <!-- Logo -->
                        <div class="logo">
                            <h1>@Html.ActionLink(ZJOASystem.Controllers.ResourceReader.GetString("ApplicationName"), "Index", "Home", null, new { @class = "logo" })</h1>
                        </div>

                    </div>
                    <div>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        </div>

        <!-- LEFT SIDEBAR -->
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li>
                            <a id="menuIndex" href="~/HOME/Index"><i class="lnr lnr-home"></i><span>@ZJOASystem.Controllers.ResourceReader.GetString("HOME_TITLE")</span></a>
                        </li>
                        <li>
                            <a id="menuDepartment" href="~/Employee/DepartmentIndex"><i class="glyphicon glyphicon-globe"></i> <span>@ZJOASystem.Controllers.ResourceReader.GetString("DEPARTMENT_TITLE")</span></a>
                        </li>
                        <li>
                            <a id="menuEmployee" href="~/Employee/Index"><i class="glyphicon glyphicon-user"></i> <span>@ZJOASystem.Controllers.ResourceReader.GetString("EMPLOYEE_TITLE")</span></a>
                        </li>
                        <li>
                            <a id="menuProduct" href="#subPages" data-toggle="collapse" class="collapsed">
                                <i class="glyphicon glyphicon-barcode"></i> <span>@ZJOASystem.Controllers.ResourceReader.GetString("PRODUCT_TITLE")</span>
                                <i class="icon-submenu lnr lnr-chevron-left"></i>
                            </a>
                            <div id="subPages" class="collapse ">
                                <ul class="nav">
                                    <li>
                                        <a id="menuProductList" href="~/Product/ProductList"> <span>@ZJOASystem.Controllers.ResourceReader.GetString("PRODUCTBASE_LIST")</span></a>
                                    </li>
                                    <li>
                                        <a id="menuProductSetup" href="~/Product/Setup"> <span>@ZJOASystem.Controllers.ResourceReader.GetString("PRODUCT_SETUP")</span></a>
                                    </li>
                                    <li>
                                        <a id="menuProductTest" href="~/Product/Test"> <span>@ZJOASystem.Controllers.ResourceReader.GetString("PRODUCT_TEST")</span></a>
                                    </li>
                                    <li>
                                        <a id="menuProductPackage" href="~/Product/Package"> <span>@ZJOASystem.Controllers.ResourceReader.GetString("PRODUCT_PACKAGE")</span></a>
                                    </li>
                                    <li>
                                        <a id="menuProductDeliever" href="~/Product/Deliever"> <span>@ZJOASystem.Controllers.ResourceReader.GetString("PRODUCT_DELIEVER")</span></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a id="menuMachine" href="~/Machine/Index"><i class="glyphicon glyphicon-credit-card"></i> <span>@ZJOASystem.Controllers.ResourceReader.GetString("MACHINE_TITLE")</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="container-fluid">
                    @RenderBody()

                </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN -->
        <div class="clearfix"></div>
        <footer>
            <div class="container-fluid">
                <p class="copyright">&copy; 2017 @ZJOASystem.Controllers.ResourceReader.GetString("ApplicationName")</p>
            </div>
        </footer>

    </div>
    <!-- END WRAPPER -->

    
    
</body>
</html>
